{{#> plantilla}}
<section class="contenedor">
    <form action="/register"  method="post">
        <h1>Registrarse</h1>
        <label>EMail</label>
        <input type="email" name="correo" id="correo">
        <label>Contraseña</label>
        <input type="password" name="clave" id="clave">
        <input class="btn" type="submit" value="Registrarse">
        <div><hr></div>
        <a href="/">Iniciar Sesion</a>
        <a href="/usuarios">Ver todos los usuarios</a>
    </form>
</section>
{{/plantilla}}