{{#> plantilla}}
<section class="contenedor">
    <form action="/register"  method="post">
        <h1>Lista Usuario</h1>
        <ul>
            {{#each resultado}}
            <li>{{email}}</li>
            {{/each}}
        </ul>
        <div><hr></div>
        <a href="/">Iniciar Sesion</a>
        <a href="/register">Registrarse</a>
    </form>
</section>
{{/plantilla}}